@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	background-color: #333;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	line-height: 40px;
	color: #333333;
}

h1, h2, h3 {
	text-align: center;
	text-rendering: optimizelegibility;
	line-height: 1em;
}

h3 {
	font-weight: normal;
}

.container {
	width: 100%;
}

.header-wrapper {
	background-color: #333;
}

.header {
	color: #ccc;
	padding: 30px 0 30px 0;
}

.menu-wrapper {
	background-color: #fff;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 30px 0 30px 0;
	
	background-color: #ccc;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #333;
}

ul.menu li a {
	color: #333;
	font-size: 1.7em;
	line-height: 1em;
	width: 100%;
	display: block;
	text-decoration: none;
}

.footer-wrapper {
	background-color: #333;
	height: 80px;
	padding-top: 20px;
}

.footer {
	text-align: center;
	color: #ccc;
}